---
import { getCollection } from 'astro:content';

const aboutUsCollection = await getCollection('aboutUs');
const { data: { whoWeAre, whyToChooseUs, }} = aboutUsCollection[0]
---

<div id="about-us" class="flex flex-col md:flex-row items-center justify-between w-full h-screen p-8 gap-8">
  <div class="w-full flex flex-col items-center justify-center md:w-2/4 gap-8">
    <h2 class="font-slab text-3xl">{whoWeAre.title}</h2>
    <p class="px-o font-roboto text-base text-justify md:px-12">
        {whoWeAre.description}
    </p>
  </div>
  <div class="w-full flex flex-col items-center justify-center md:w-2/4 gap-8">
    <h2 class="font-slab text-3xl">{whyToChooseUs.title}</h2>
    <h4 class="font-roboto text-base">{whyToChooseUs.description}</h4>
    <ul class="flex flex-col items-left justify-between gap-8">
        {whyToChooseUs.experiences.map((experience) => (
          <li>
              <span class="font-bold italic">{experience.title}:</span> {experience.description}
          </li>
        ))}
    </ul>
  </div>
</div>
